<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeRa1uLQFVRKrIAr4AGBNwfszmAnkSMd-5tw&s"
            alt="" 
            height="200px"

            srcset=""  
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#"> nulla orci, pellentesque sit amet viverra non, luctus nec magna. Etiam suscipit ipsum eget lacus cursus, et pharetra eros pulvinar. Nullam congue blandit dui, eu laoreet magna. Nullam consectetur tellus vitae dolor euismod gravida.</a></p>
    </div>
</div>